<p custom>
  demo1 works!
</p>
<!-- <button type="button" (click)="show()"> show</button>
 <!-- <p *ngIf="setStatus"> this para is not row</p> -->
<!-- <p *ngIf = "setStatus;else xyz"> 123</p> -->

<!-- <ng-template #xyz>
  abc
</ng-template> -->

<!-- <div class="container" style ="background-color: black;color:azure">
  <table class="table">
    <tr>
<th>Id:<input type="text" [(ngModel)]="id"/><p style="color:firebrick;">{{idError}}</p></th>
<th>Name:<input type="text" [(ngModel)]="name"/><p style="color:firebrick;">{{nameError}}</p></th>
<th>Salary:<input type="text" [(ngModel)]="salary"/> &nbsp;&nbsp;<button class="btn btn-success" (click)="add()">Add</button><p style="color:firebrick;">{{salaryError}}</p></th>
</tr>
</table>
</div>
<br><br>
<div class="container" style ="background-color:rgb(238, 228, 228)">
<table class="table"  >
    <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Salary</th>
        </tr>
      </thead>
      
  <tr *ngFor = "let x of names1;let i = index" (click)="showStudent(i)">
    <td>{{x.id}}</td>
    <td>{{x.name}}</td>
    <td>{{x.salary}}</td>
    <td><button class="btn btn-primary" (click)="updateStudent(i)">Update</button></td>
    <td><button class="btn btn-danger" (click)="deleteStudent(i)">Delete</button></td>
  </tr>
  
  </table>
</div> -->
<!-- <ul *ngFor = "let x of names">
  <li>{{x}}</li>
  </ul> -->








  <!-- <div class="container">
    <div class="row" >
      <div class="col-sm-4" style="background-color: mediumturquoise;"><h3>pune</h3>
        <div class="row">
          <div class="col-sm-4">
          <!-- <img src=""> -->
          <!-- </div>
          <div class="col-sm-8">
            <h6>It is in the Indian state of Maharashtra. The city is famous for the great Maratha king Shivaji Maharaj. ... Pune is a city of knowledge and often known as the Oxford of the east. In Marathi, 
              it is known as vidyeche maherghar which means, the hometown of education.</h6>
          </div>
        </div>
      </div>

      <div class="col-sm-4"><h3>Mumbai</h3></div>
      <div class="col-sm-4"><h3>Delhi</h3></div>
      </div>
  </div> -->




  <nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Pune</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mumbai</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Delhi</a>
      </li>
    </ul>
  
  </nav>