<p>
  calculator works!
</p>
output: {{d}}
<br><br>
a: <input type="number" name="num1" [(ngModel)]="a"/><br><br>
b: <input type="number" name="num2" [(ngModel)]="b"/><br>
<br><br>

 <!-- <button class="btn btn-primary"  [(ngModel)]="a" (click) = "one()"> 1 </button>&nbsp;
 <button class="btn btn-primary" [(ngModel)]="b" (click) = "two()"> 2 </button>&nbsp; -->
 <!-- <button class="btn btn-primary" [(ngModel)]="c" (click) = "plus()"> + </button>&nbsp;  -->
 <button class="btn btn-primary" [(ngModel)]="d" (click) = "add()"> Addition </button>
 &nbsp;&nbsp;
 <button class="btn btn-primary" [(ngModel)]="d" (click) = "sub()"> Substraction </button>
 &nbsp;&nbsp;
 <button class="btn btn-primary" [(ngModel)]="d" (click) = "div()"> Division </button>
 &nbsp;&nbsp;
 <button class="btn btn-primary" [(ngModel)]="d" (click) = "mul()"> Multiplication </button>
 &nbsp;&nbsp;
 <button class="btn btn-primary" [(ngModel)]="d" (click) = "clr()"> Clear </button>
 