<!-- <p>
  form works!
</p> -->

<!-- <form (ng-submit)="onSubmit(studentform.value)">
  <!-- <form> -->
  <!-- <h2>Contact Information</h2>
    <div class="form-group">
  <label>Name</label>
  <input type="text" class="form-control" name="name" ngModel><br><br>
  </div>
  <div class="form-group">
  <label>Email:</label>
  <input type="email" class="form-control" name="email" ngModel><br><br>
  </div> -->
  <!-- <div class="form-group">
  <label>Mob no.:</label>
  <input type="number" class="form-control"name="mob"ngModel><br><br>
  </div>
  <div class="form-group">
  <label>City:</label>
  <input type="text" class="form-control"name="city" ngModel><br><br>
  </div> -->
  <!-- <div class="form-group">
 <label> State:</label>
  <input type="text" class="form-control"name="state" ngModel><br><br>
  </div>
  <div class="form-group">
  <button type="submit"class="btn btn-primary">Submit </button>
  </div>
  </form> --> 



  

      <div class="container">
        <h2>Contact form</h2>
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>
            <div class="form-group">
                <label for="name">Name:</label>
                
              <input type="text" #nameRef="ngModel"  required   minlength="3" class="form-control" id="name" placeholder="Enter name" name="name" ngModel>
              <!-- {{nameRef.className}} -->
              <!-- <div [hidden]="nameRef.valid || nameRef.pristine" class="alert alert-danger">
                  plz enter name
              </div> -->

              <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="alert alert-danger">
                  
                <div [hidden]="!nameRef.errors.required">
                      plz enter name
                  </div>
                  <div [hidden]="!nameRef.errors.minlength">
                      plz enter 4 characters
                  </div>
                  <!-- <div [hidden]="!nameRef.errors.pattern">
                      plz enter proper name
                  </div> -->
              </div>
            </div>
            <div class="form-group">
              <label for="city">City:</label>
                  <input type="text" #cityRef="ngModel" class="form-control" required maxlength="6" id="city" placeholder="Enter city" name="city" ngModel>
                  <div *ngIf="cityRef.errors && (cityRef.dirty || cityRef.touched)" class="alert alert-danger">
               
                  <div [hidden]="cityRef.valid || cityRef.pristine" class="alert alert-danger">
                      plz enter city
                  </div>
                </div>
                </div>
            <div class="form-group">
              <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" ngModel>
          <!-- {{email}} -->
        </div>
          <div class="form-group">
            <label for="phone">Mobile no:</label>
            <input type="text" #mobileRef="ngModel" minlength="10" class="form-control" id="phone" placeholder="Enter phone no" pattern="^[6-9]{1}[0-9]{9}$" name="phone" ngModel>
            <div *ngIf="mobileRef.errors && (mobileRef.dirty || mobileRef.touched)" class="alert alert-danger">
               
            <div [hidden]="!mobileRef.errors.minlength">
                plz enter no
            </div>
            <div [hidden]="!mobileRef.errors.pattern">
                plz enter correct no
            </div>
            </div>
          </div>
          
          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        
          <button [disabled]="!userForm.form.valid" type="submit" name="submit" class="btn btn-primary">Submit</button>
        
        </form>
      </div>
      