<!-- <p>
  home works!
</p> -->
<!-- <p>
<a routerLink='/empdata'>employee data goes here....</a>
</p> -->
<img src="./assets/d1.jpg">
<h2>INTENGENT</h2>
<p>
INTENGENT, Inc. is an Ottawa, ON, Canada based consultancy and custom design service provider in the area of photonics for optical tele- and datacom.
Founded by Dr. Valery Tolstikhin (also the founder of OneChip Photonics Inc. and 
co-founder of ArtIC Photonics Inc. and Electrophotonic IC Inc.) in September 2013, INTENGENT was set up to leverage his unique background and vast experiences acquired through decades of the cutting edge research and product development,
including those in leadership positions at contemporary technology front-runners: MetroPhotonics (2000 – 2005).
</p>
<hr>
<p>
<b>OUR MISSION</b> is on advanced photonic chip products in indium phosphide (InP) and gallium arsenide (GaAs) based materials for receiver, transmitter and transceiver components of the optical fiber communication systems.
<br><br>
<b>OUR FOCUS</b> is to bridge the gap between the photonic chip users and manufacturers, by providing and supporting full-custom designs that balance user's needs and manufacturer's capabilities.
<br><br>
<b>OUR STRATEGY</b> is in deep understanding of the photonic industry food chain, good knowledge of theoptical component markets / products, and unique experience of a fabless development by outsourcing to pure-play III-V semiconductor foundries.
<br><br>
<b>OUR STRENGTH</b> is in deep understanding of the photonic industry food chain, good knowledge of the optical component markets / products, and unique experience of a fabless development by outsourcing to pure-play III-V semiconductor foundries.
<br><br>
<b>OUR OBJECTIVE</b> is to make INTENGENT your one-stop shop for III-V photonics, from technology assessment to full-custom development, leaving to us heavy lifting on a way from application idea to fabless manufacturing.
</p>